html, body {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
    /* font-family: 'Neue Helvetica', sans-serif; */
    scroll-behavior: smooth;
    background-color: #f3f3f5;
}

.font-monument {
    font-family: 'Monument Extended';
}

.font-bodoni {
    font-family: 'Bodoni Std';
}

.font-receipt{
    font-family: 'Fake Receipt', sans-serif;
}

.cursorCenter{

}

.cursorLerp{

}